body, html {
	margin: 0;
	padding: 0;
	color: #333333;
}

.container {
	margin-top: 80px;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-bottom: 60px;
}

.actions {
	position: fixed;
	height: 45px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 50;
	display: flex;
	flex-direction: row;
	background-color: white;

	.btn {
		margin-left: 0px;
		border-right: 1px solid $rdn-green;
		width: 100%;

		&:last-child {
			border-right: none;
		}
	}
}

@media(min-width: $bp-l) {
	.container {
		margin-left: 3rem;
		margin-right: 3rem;
	}

	.actions {
		position: relative;
		z-index: 0;
		display: flex;
		flex-direction: row;
		margin-left: auto;
		background-color: transparent;
	
		.btn {
			margin-left: 1rem;
			border-right: none;
		  width: 150px;
		}

	}
}

@media(min-width: $bp-md) {
	.container {
		margin-left: 6rem;
		margin-right: 6rem;
	}
}

@media(min-width: $bp-l) {
	.container {
		margin-left: 9rem;
		margin-right: 9rem;
	}
}

@media(min-width: $bp-xl) {
	.container {
		margin-left: 15rem;
		margin-right: 15rem;
	}
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.aic {
  align-items: center;
}

.asc {
	align-self: center;
}

.mr-2 {
	margin-right: 2rem;
}

.ml-2 {
	margin-left: 2rem;
}

.ml-auto {
  margin-left: auto;
}