ul.list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  a {
    display: block;
    text-decoration: none;
    transition: background-color .3s;
    color: $rdn-text;

    &:visited, &:active {
      color: $rdn-text;
    }

    &:hover {
      background-color: $rdn-green-lighter;
    }
  }

  li {
    padding: 1rem;
    border-bottom: 1px solid $rdn-border;

    .list-label {
      font-size: 1.25rem;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

    .list-text {
      color: $rdn-text-light;
    }
  }
}