body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h5 {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.page-title {
  height: 45px;
  font-size: 1.5rem;  
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 0px;
}

.extra-title {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.toe {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80px;
}

@media(min-width: $bp-sm) {
	.toe {
		width: 150px;
	}
}