html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FDFDF5;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	padding: 1rem;
	padding-bottom: 100px;
}

.container {
	margin-left: 1rem;
	margin-right: 1rem;
}

@media(min-width: 615px) {
	.container {
		margin-left: 4rem;
		margin-right: 4rem;
	}
}

@media(min-width: 870px) {
	.container {
		margin-left: 10rem;
		margin-right: 10rem;
	}
}

#app .margin-top {
	margin-top: 60px;
}

#app h1.title {
	font-weight: lighter;
	margin-bottom: 0;
	padding: 0;
}

#app p.sub-title {
	font-weight: lighter;
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
}

.fab-container {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
}

.fab-container button,
.fab-container a {
  background-color: rgb(6, 110, 110);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.fab-container button,
.fab-container a {
  border-right: 1px solid white;
}

.fab-container button:last-child,
.fab-container a:last-child {
  border-right: 0;
}

.fab-container button:disabled,
.fab-container a:disabled {
	opacity: .5;
	cursor: not-allowed;
}