.login {
}

.login form {
  margin-top: 3rem;
}

.form-group {
  max-width: 350px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.form-group input {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form-group button {
  width: 100%;
  background-color: rgb(6, 110, 110);
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}